* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  user-select: none;
  -webkit-user-drag: none;
  width: 100%;
}
a {
  text-decoration: none;
  color: #000;
}
body {
  font-family: "Open Sans", sans-serif;
}

/*Header*/
header {
  width: 100%;
  position: fixed;
  top: 58px;
  z-index: 100;
}
.side-popup-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.close-popup,
.burger-menu,
.mobile-header {
  display: none;
}

.burger-menu img {
  width: 60px;
  height: 60px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  margin: 0 auto;
  border-radius: 100px;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(30px);
  padding: 15px 24px 15px 36px;
}
.header-container a {
  color: rgba(248, 248, 248, 0.5);
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
}
.menu-main-menu-container ul li:hover a,
.menu-main-menu-container ul li.active a {
  color: rgba(248, 248, 248, 1);
}
.header-logo img {
  width: 63px;
  height: 63px;
  border-radius: 100px;
}
.menu-main-menu-container {
  margin: 0 66px;
}
.menu-main-menu-container ul {
  display: flex;
  list-style: none;
  gap: 32px;
}
.menu-main-menu-container ul li {
  position: relative;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
.menu-main-menu-container ul .sub-menu {
  display: none;
}
.header-right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.header-search-box {
  position: relative;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
}

.header-search-box .input-search {
  width: 0;
  opacity: 0;
  visibility: hidden;
  transition: width 0.3s, opacity 0.3s;
  padding-bottom: 10px;
  border: none;
  border-bottom: 2px solid #f8f8f8;
  background: transparent;
  color: #333;
  outline: none;
}

.header-search-box .btn-search {
  background: none;
  border: none;
  cursor: pointer;
}

.menu-item-has-children > .arrow-icon,
.menu-main-menu-container
  .sub-menu
  .menu-item-has-children:hover
  > .arrow-icon {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("../icons/arrow-down-white-blur.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: transform 0.3s ease;
  cursor: pointer;
  flex-shrink: 0;
}

.menu-item-has-children.open > .arrow-icon {
  transform: rotate(180deg);
  background-image: url("../icons/arrow-down-white.svg");
}
.menu-main-menu-container .sub-menu .menu-item-has-children > .arrow-icon,
.menu-main-menu-container
  .sub-menu
  .menu-item-has-children:hover
  > .arrow-icon {
  transform: rotate(-90deg);
}

.menu-item-has-children:hover > .arrow-icon,
.menu-main-menu-container
  .sub-menu
  .menu-item-has-children:hover
  > .arrow-icon {
  background-image: url("../icons/arrow-down-white.svg");
}

.menu-main-menu-container .menu-item-has-children:hover > .arrow-icon {
  transform: rotate(180deg);
}

.menu-main-menu-container .menu-item-has-children > .sub-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(30px);
  min-width: 180px;
  z-index: 1000;
  padding: 12px 0;
  border-radius: 10px;
}

.menu-main-menu-container .menu-item-has-children:hover > .sub-menu {
  display: block;
}

.menu-main-menu-container .sub-menu .menu-item-has-children > .sub-menu {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(30px);
  min-width: 180px;
  border-radius: 10px;
  padding: 12px 0;
}

.menu-main-menu-container .sub-menu .menu-item-has-children:hover > .sub-menu {
  display: block;
}

.menu-main-menu-container .sub-menu li {
  padding: 8px 20px;
}

.menu-main-menu-container .sub-menu a,
.menu-main-menu-container ul li .sub-menu li a {
  color: rgba(248, 248, 248, 0.5);
  text-decoration: none;
  font-size: 16px;
  white-space: nowrap;
  display: block;
}

.menu-main-menu-container .sub-menu li:hover > a {
  color: rgba(248, 248, 248, 1);
}

.menu-main-menu-container .sub-menu {
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.header-search-box.active .input-search {
  margin-left: 5px;
  width: 200px;
  opacity: 1;
  visibility: visible;
}

.header-contact {
  display: flex;
  padding: 10px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 40px;
  background: linear-gradient(95deg, #ba171d 6.84%, #c51a1d 93.16%);
}

.header-contact:hover {
  background: #a11618;
  cursor: pointer;
}
.header-contact a {
  color: #f8f8f8;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.hotline-image {
  display: none;
  width: 100%;
  height: 100%;
}
/*Body*/
.main-container {
  max-width: 1920px;
  margin: 0 auto;
}

/*Welcome section*/
.welcome-section {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.welcome-section .swiper,
.welcome-section .swiper-wrapper,
.welcome-section .swiper-slide,
.welcome-section .image-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.welcome-section .image-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30vh;
  background: linear-gradient(0deg, #131c17 0%, rgba(19, 28, 23, 0) 100%);
  z-index: 1;
  pointer-events: none;
}
.welcome-section .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.welcome-section .content-overlay {
  position: absolute;
  bottom: 164px;
  width: 100%;
  color: white;
  z-index: 2;
}
.welcome-section .content-overlay .content-container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}
.welcome-section .hero-title {
  color: #fff;
  font-family: Lora;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.welcome-section .hero-desc {
  max-width: 955px;
  color: #fff;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.welcome-section .swiper-pagination-container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  max-width: 1440px;
  pointer-events: none;
  margin: 0 auto;
  z-index: 10;
}

.welcome-section .swiper-pagination {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  z-index: 10;
  height: 100%;
  max-height: 400px;
}

.welcome-section .swiper-pagination-bullet {
  width: 8px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 999px;
  opacity: 1;
  transition: all 0.3s ease;
}

.welcome-section .swiper-pagination-bullet-active {
  background: white;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(-10px);
  }
}

.welcome-section .scroll-button {
  width: 52px;
  height: 52px;
  padding: 11px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  border: none;
  border-radius: 200px;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(30px);
  cursor: pointer;
  transition: background-color 0.3s ease;
  animation: bounce 2s infinite;
  z-index: 10;
}

.welcome-section .scroll-button:hover {
  background-color: #374151;
}
/*Technology section*/
.technology-section {
  padding: 160px 0;
  width: 100%;
  overflow-x: hidden;
}
.technology-section .tech-container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  gap: 75px;
}
.technology-section .tech-description {
  flex: 0 0 25%;
  max-width: calc(25% - 27px);
  padding: 0 16px;
  height: fit-content;
}
.technology-section .tech-description h2 {
  color: var(--text, #201c1c);
  font-family: Lora;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px; /* 162.5% */
  text-transform: uppercase;
  margin-bottom: 31px;
}
.technology-section .tech-description p {
  color: var(--grey, #555);
  text-align: justify;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.18px;
  max-height: 600px;
  overflow: auto;
}
.technology-section .tech-stats {
  margin-top: 98px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.technology-section .tech-stats div {
  flex: 0 0 calc(50% - 10px);
  display: flex;
  flex-direction: column;
}

.technology-section .tech-stats strong,
.stats-container .stats-item strong {
  color: var(--text, #201c1c);
  font-family: Lora;
  font-size: 52px;
  font-style: normal;
  font-weight: 600;
  line-height: 52px; /* 100% */
  text-transform: uppercase;
  margin-bottom: 12px;
}

.technology-section .tech-stats span,
.stats-container .stats-item span {
  color: var(--grey, #555);
  font-family: "Open Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.technology-section .tech-slider-container {
  flex: 0 0 75%;
  max-width: calc(75% - 27px);
  position: relative;
}
.tech-slider-container .image-container {
  width: 100%;
  display: flex;
  gap: 20px;
  overflow: auto;
}
.tech-slider-container img {
  border-radius: 20px;
}
.tech-slider-container img:first-child,
.tech-slider-container img:last-child {
  width: 375px;
  height: 712px;
  flex-shrink: 0;
  aspect-ratio: 375/712;
  object-fit: cover;
}
.tech-slider-container .gallary {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.tech-slider-container .gallary .bottom {
  display: flex;
  gap: 20px;
  max-width: 100%;
}
.tech-slider-container .gallary img {
  width: 560px;
  height: 288px;
  aspect-ratio: 35/18;
}
.tech-slider-container .gallary .bottom img {
  width: calc(50% - 10px);
  height: 404px;
}
@keyframes tech-spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.tech-slider-container .circle-text {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 147px;
  height: 147px;
  border-radius: 200px;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(30px);
  animation: tech-spin 10s linear infinite;
}
.tech-slider-container .circle-text img {
  width: 100%;
  height: 100%;
}
/*Stats section*/
.stats-section {
  padding-bottom: 122px;
}
.stats-container {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.stats-container .stats-item {
  display: flex;
  flex-direction: column;
}

/*Color trends section*/
.color-trends-section {
  background: var(--red, #b61f22);
  padding: 60px 0;
}
.color-trends-section .section-title {
  color: #fff;
  font-family: Lora;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 52px;
  text-transform: uppercase;
  max-width: 1400px;
  margin: 0 auto;
}
.color-trends-section .color-row {
  margin-top: 104px;
  display: flex;
  flex-wrap: wrap;
}
.color-box {
  flex: 0 0 15.38%;
  aspect-ratio: 1;
  display: flex;
  align-items: flex-end;
  padding-bottom: 6px;
  padding-left: 17px;
  color: #000;
  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 120% */
  text-transform: uppercase;
}
.color-trends-section .color-row.right {
  justify-content: flex-end;
}

/*Products section*/
.products-section {
  max-width: 1440px;
  margin: 0 auto;
  padding: 160px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.products-section .tab-buttons {
  display: flex;
  justify-content: center;
  gap: 35px;
  margin-bottom: 40px;
}

.products-section .tab-buttons button {
  background: none;
  border: none;
  color: var(--text, #201c1c);
  font-family: Lora;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 52px; /* 162.5% */
  text-transform: uppercase;
  cursor: pointer;
  opacity: 0.5;
}

.products-section .tab-buttons button.active {
  opacity: 1;
}
.products-section .tab-description {
  max-width: 938px;
  color: var(--grey, #555);
  text-align: center;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 133.333% */
}
.products-section .tab-panel {
  display: none;
}

.products-section .tab-panel.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.products-section .product-card {
  background: #fff;
  border-radius: 8px;
  max-width: 285px;
  text-align: center;
  transition: transform 0.2s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.products-section .product-card:hover {
  transform: translateY(-4px);
}

.products-section .product-card img {
  height: 307px;
  object-fit: contain;
}

.products-section .product-card p {
  max-width: 266px;
  font-size: 14px;
}

.products-section .product-card button {
  padding: 10px 20px;
  border-radius: 40px;
  background: var(
    --radian-red,
    linear-gradient(95deg, #ba171d 6.84%, #c51a1d 93.16%)
  );
  color: #f8f8f8;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
  cursor: pointer;
  font-size: 14px;
}
.products-section .product-card button:hover {
  background: #8d1315;
}
.products-section .swiper-container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 99px;
  position: relative;
}

.products-section .swiper {
  position: static;
}
.products-section .custom-swiper-pagination {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.products-section .swiper-pagination-prev,
.products-section .swiper-pagination-next {
  width: 52px;
  height: 52px;
  padding: 11px;
  border-radius: 200px;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(30px);
  position: relative;
}

.products-section .swiper-pagination-prev:hover,
.products-section .swiper-pagination-next:hover {
  background-color: #374151;
  cursor: pointer;
}
.products-section .swiper-pagination-prev {
  transform: rotate(90deg);
  left: -50px;
}
.products-section .swiper-pagination-next {
  transform: rotate(-90deg);
  left: 50px;
}

/*Comments section*/
.comments-section {
  background: var(--red, #b61f22);
  overflow: hidden;
  padding: 112px 0;
}
.comments-section .comment-container {
  display: flex;
  gap: 40px;
  align-items: flex-start;
  justify-content: space-between;
}
.comments-section .image-box {
  flex: 0 0 60%;
  max-width: 60%;
  height: 100%;
  max-height: 751px;
  border-radius: 40px;
  border: 1px solid #fff;
  padding: 18px;
  position: relative;
  transform: translateX(-10%);
}
.comments-section .image-box img {
  width: 100%;
  height: 100%;
  max-height: 715px;
  aspect-ratio: 1094/715;
  border-radius: 32px;
  object-fit: cover;
}
@keyframes spin {
  0% {
    transform: translateX(50%) rotate(0deg);
  }
  100% {
    transform: translateX(50%) rotate(360deg);
  }
}
.comments-section .image-box .circle-text {
  position: absolute;
  right: 0;
  transform: translateX(40px);
  bottom: 10%;
  display: flex;
  width: 147px;
  height: 147px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 200px;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(30px);
  animation: spin 10s linear infinite;
}
.comments-section .image-box .circle-text img {
  width: 100%;
  height: 100%;
}
.comments-section .comment-box {
  flex: 0 0 40%;
  max-width: 40%;
  padding-right: 274px;
}
.comments-section .comment-box h2 {
  color: #fff;
  font-family: Lora;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 52px; /* 162.5% */
  text-transform: uppercase;
  margin-bottom: 40px;
}
.comments-section .comment-box .user-comment {
  color: #fff;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: italic;
  font-weight: 300;
  line-height: 23px; /* 127.778% */
  margin-bottom: 40px;
  text-align: justify;
}
.comments-section .comment-box .author {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  margin-bottom: 65px;
}
.comments-section .comment-box img {
  width: 73px;
  height: 73px;
}
.comments-section .comment-box .author h4 {
  color: #fff;
  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 23px; /* 115% */
  margin-bottom: 8px;
}
.comments-section .comment-box .author p {
  color: #fff;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px; /* 143.75% */
}
.comments-section .nav-buttons {
  display: flex;
  align-items: center;
  gap: 34px;
}
.comments-section .nav-buttons .custom-button-prev,
.comments-section .nav-buttons .custom-button-next {
  width: 40px;
  height: 40px;
  transform: rotate(90deg);
  padding: 5px;
  border-radius: 200px;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(30px);
}
.comments-section .nav-buttons .custom-button-prev:hover,
.comments-section .nav-buttons .custom-button-next:hover {
  background-color: #374151;
  cursor: pointer;
}
.comments-section .nav-buttons .custom-button-prev img,
.comments-section .nav-buttons .custom-button-next img {
  width: 30px;
  height: 30px;
}
.comments-section .nav-buttons .custom-button-prev {
  transform: rotate(90deg);
}
.comments-section .nav-buttons .custom-button-next {
  transform: rotate(-90deg);
}

/*News section*/
.news-section {
  max-width: 1400px;
  margin: 0 auto;
  padding-top: 160px;
}
.news-section .section-title {
  color: var(--text, #201c1c);
  text-align: center;
  font-family: Lora;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 52px; /* 162.5% */
  text-transform: uppercase;
  margin-bottom: 80px;
}
.news-section a {
  display: block;
}
.news-section a.more {
  display: unset;
}
.news-section .news-container {
  display: flex;
  gap: 40px;
  align-items: flex-start;
}

.news-section .main-article {
  width: 60%;
}
.news-section .main-article img {
  width: 100%;
  border-radius: 20px;
  margin-bottom: 33px;
}

.news-section .main-article .date {
  color: var(--grey, #555);
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 5px;
}

.news-section .main-article .title {
  color: var(--text, #201c1c);
  font-family: "Open Sans";
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  margin-bottom: 5px;
}

.news-section .main-article .desc {
  color: var(--grey, #555);
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-align: justify;
}

.news-section .article-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 33px;
}

.news-section .article-item {
  display: flex;
  gap: 17px;
  align-items: flex-start;
}

.news-section .article-item img {
  width: 241px;
  height: 180px;
  object-fit: cover;
  border-radius: 4px;
}

.news-section .article-item .text {
  flex: 1;
}

.news-section .article-item .date {
  color: var(--grey, #555);
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 4px;
}

.news-section .article-item .title {
  color: var(--text, #201c1c);
  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 31px;
  display: block;
}

.news-section .article-item a {
  position: relative;
  color: var(--text, #201c1c);
  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.4px;
  text-decoration: none;
  padding-bottom: 5px;
}

.news-section .article-item a.more:hover {
  color: #ba171d;
}

.news-section .article-item a.more::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 80%;
  background: linear-gradient(95deg, #ba171d 6.84%, #c51a1d 93.16%);
  transition: width 0.3s ease, background-position 0.3s ease;
}
.news-section .article-item a:hover::after {
  width: 110%;
}

.news-section .article-item a:hover {
  color: #a94442;
  border-color: #a94442;
}

/*Gallery section*/
.gallery-section {
  position: relative; /* để các phần tử position: absolute làm việc đúng */
  padding: 160px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.gallery-section h2 {
  color: var(--text, #201c1c);
  text-align: center;
  font-family: Lora;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 52px; /* 162.5% */
  text-transform: uppercase;
  margin-bottom: 80px;
}
.gallery-section .swiper-container {
  width: 80%;
  position: relative;
}

.gallery-section .gallery-swiper img {
  width: 100%;
  aspect-ratio: 464/844;
  min-height: 644px;
  border-radius: 12px;
  object-fit: cover;
}

.gallery-section .custom-swiper-pagination {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  pointer-events: none;
  z-index: 10;
}

.gallery-section .swiper-pagination-prev,
.gallery-section .swiper-pagination-next {
  width: 52px;
  height: 52px;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(30px);
  border-radius: 50%;
  padding: 11px;
  pointer-events: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-section .swiper-pagination-prev:hover,
.gallery-section .swiper-pagination-next:hover {
  background-color: #374151;
  cursor: pointer;
}

.gallery-section .swiper-pagination-prev {
  transform: rotate(90deg);
  margin-left: -70px; /* đẩy ra ngoài ảnh */
}

.gallery-section .swiper-pagination-next {
  transform: rotate(-90deg);
  margin-right: -70px; /* đẩy ra ngoài ảnh */
}

/*Contact form section*/
.contact-form-section {
  height: 600px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact-form-section .background {
  position: relative;
  width: 100%;
  height: 100%;
}
.contact-form-section .background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.contact-form-section .form-overlay {
  position: absolute;
  width: 100%;
  max-width: 1399px;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
}
.contact-form-section .form-container {
  width: 700px;
  height: 455px;
  border-radius: 0px 48px;
  border: 1px solid #000;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(30px);
  padding: 39px 55px;
}
.contact-form-section .form-container h2 {
  color: #141414;
  text-align: center;
  font-family: Lora;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 52px; /* 162.5% */
  text-transform: uppercase;
}
.contact-form-section .form-container p {
  max-width: 575px;
  color: #0e0e0e;
  text-align: center;
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-top: 18px;
  padding: 0 8px;
  margin-bottom: 45px;
}
.contact-form-section .form-container .contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.contact-form-section .form-container input {
  width: 100%;
  color: #656565;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: none;
  border: none;
  padding-bottom: 5px;
  border-bottom: 1px solid #656565;
  outline: none;
}
.contact-form-section .form-container button {
  color: #f8f8f8;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 40px;
  display: inline-flex;
  padding: 10px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  margin-top: 24px;
  background: var(
    --radian-red,
    linear-gradient(95deg, #ba171d 6.84%, #c51a1d 93.16%)
  );
}
.contact-form-section .form-container button:hover {
  background: #9e1b1e;
  cursor: pointer;
}
/*Footer*/
.footer {
  background-color: #b61f22;
  color: white;
  padding: 75px 0 27px 0px;
}
.footer h4 {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.4px;
  margin-bottom: 16px;
  text-transform: uppercase;
}
.footer a {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}
.footer-container {
  max-width: 1400px;
  margin: 0 auto;
}
.footer .divide {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 41px;
  margin-bottom: 18px;
}
.footer .divide p {
  max-width: 248px;
  text-align: left;
}
.footer .divide p:first-child {
  white-space: nowrap;
  width: 64px;
}
.footer .divide p:last-child {
  width: 100%;
}
.footer-content {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: space-between;
  margin-bottom: 51px;
}

.footer-col {
  width: fit-content;
  max-width: 353px;
}
.footer-col p,
.footer-col li {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  list-style: none;
}
.footer-col li {
  margin-bottom: 12px;
}
.footer-col ul {
  padding-left: 0;
}

.subscribe {
  display: flex;
  justify-content: center;
  gap: 0;
  align-items: stretch;
}

.subscribe .input-wrapper {
  position: relative;
  max-width: 613px;
  width: 100%;
}

.subscribe .input-wrapper input {
  width: 100%;
  height: 100%;
  padding: 16px 0px 16px 40px; /* padding-left đủ chỗ cho icon */
  border: none;
  border-radius: 4px 0 0 4px;
  color: #9a9a9a;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

.subscribe .input-wrapper::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 18px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  background-image: url("../icons/mail.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  pointer-events: none;
  z-index: 100;
}

.subscribe input:focus {
  outline: none;
}
.subscribe button {
  white-space: nowrap;
  padding: 17px;
  border: none;
  border-radius: 0px 4px 4px 0px;
  background: #7e1315;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}
.subscribe button:hover {
  background: #640f11;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 73px;
}
.footer-bottom .top {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.footer-bottom .top > *,
.footer-bottom .top .copyright {
  height: 28px;
  line-height: 28px;
}

.footer-bottom .bottom {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: none;
}
.footer-bottom .socials {
  display: flex;
  align-items: center;
}
.footer-bottom .socials div {
  display: flex;
  white-space: nowrap;
}
.footer-bottom .socials span,
.footer-bottom .hotline {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  margin-right: 12px;
}

.footer-bottom .socials a {
  display: block;
  color: white;
  margin-left: 12px;
  font-size: 14px;
  text-decoration: none;
}

.footer-bottom .hotline strong {
  color: #fff;
}
.footer-bottom .copyright {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.flex-reverse {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  width: 66%;
}

/*Heading section*/
.heading-section {
  position: relative;
  height: 631px;
}
.heading-section img {
  position: relative;
  width: 100%;
  height: 100%;
  aspect-ratio: 1920/631;
  object-fit: cover;
}
.heading-overlay {
  position: absolute;
  width: 100%;
  bottom: 101px;
  margin: 0 auto;
  color: white;
  z-index: 10;
}
.heading-overlay .heading-container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}
.heading-navigate {
  color: rgba(255, 255, 255, 0.5);
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 133.333% */
  margin-bottom: 24px;
}
.heading-navigate span {
  color: #fff;
  text-align: center;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 133.333% */
}
.page-heading {
  color: #fff;
  font-family: Lora;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px; /* 162.5% */
  text-transform: uppercase;
}
.store-section {
  max-width: 1400px;
  margin: 0 auto;
  padding-top: 90px;
  padding-bottom: 160px;
}
.store-container {
  border-radius: 12px;
  border: 0.6px solid #9a9a9a;
  background: #ebf0f0;
  width: 1400px;
  height: 772px;
  display: flex;
  overflow: hidden;
}
.store-list-container {
  flex: 0 0 40%;
  width: 40%;
  padding: 40px;
}
.map-container {
  flex: 0 0 60%;
  width: 60%;
}
.map-container img {
  height: 100%;
}
.store-list-container h2 {
  color: var(--text, #0b0a0a);
  font-family: "Open Sans";
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 42px;
}
.store-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: calc(100% - 45px);
  overflow: auto;
}
.store-item {
  position: relative;
  width: 100%;
  border-radius: 8px;
  padding: 12px;
  border: 1px solid rgba(154, 154, 154, 0.5);
  background: #fff;
  box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.store-item p {
  margin-bottom: 8px;
}
.store-name {
  color: var(--text, #0b0a0a);
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 9px;
}
.store-address::before,
.store-hours::before,
.store-phone::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 18px;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.store-address::before {
  background-image: url("../icons/address.svg");
}

.store-hours::before {
  background-image: url("../icons/clock.svg");
}

.store-phone::before {
  background-image: url("../icons/store-phone.svg");
}
.store-phone a {
  text-decoration: none;
}
.store-hours::before {
  margin-right: 21px;
}
.store-phone {
  margin-bottom: 0 !important;
}
.store-directions-link {
  position: absolute;
  text-decoration: none;
  right: 19px;
  bottom: 10px;
}
/*Contact section*/
.contact-section {
  padding: 102px 0 125px 0;
}
.contact-container {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 47px;
}
.contact-container .contact-image {
  flex: 0 0 2/3;
  width: calc(66.66%);
}
.contact-container .contact-image img {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  aspect-ratio: 864/804;
  object-fit: cover;
}
.contact-container .contact-form-container {
  flex: 0 0 1/3;
  width: calc(33.33% - 24px);
  display: flex;
  flex-direction: column;
  gap: 49px;
}

.contact-form-container p {
  color: var(--text, #2b2b2b);
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 20.8px */
}
.contact-form-container .contact-heading {
  color: #000;
  font-family: "Open Sans";
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: 45px; /* 150% */
  margin-bottom: 24px;
}
.contact-form-container .divide {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 21px;
}
.contact-form-container .divide p {
  text-align: left;
}
.contact-form-container .divide p:first-child {
  white-space: nowrap;
  display: block;
  width: 110px;
}
.contact-form-container .divide p:last-child {
  width: 100%;
}

.contact-form-container .contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-form-container .contact-form h2 {
  color: #000;
  font-family: "Open Sans";
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: 45px; /* 150% */
  margin-bottom: 24px;
  width: 100%;
  text-align: left;
}
.contact-form-container .contact-form input,
.contact-form-container .contact-form textarea {
  border-radius: 4px;
  border: 1px solid var(--COLORS-Neutral-500, #9a9a9a);
  display: flex;
  padding: 8px 12px;
  align-items: center;
  align-self: stretch;
  width: 100%;
  margin-bottom: 12px;

  color: var(--COLORS-Neutral-400, #acacac);
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 20.8px */
}
.contact-form-container .contact-form button {
  margin-top: 37px;
  border: none;
  display: inline-flex;
  padding: 10px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 40px;
  background: var(
    --radian-red,
    linear-gradient(95deg, #ba171d 6.84%, #c51a1d 93.16%)
  );
  color: #f8f8f8;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.contact-form-container .contact-form button:hover {
  background: #a11518;
  cursor: pointer;
}

/*Recruitment section*/
.recruitment-section {
  padding: 79px 0 120px 0;
}
.recruitment-container {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 32px;
}
.recruitment-container .recruitment-item {
  width: calc(50% - 32px);
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
.recruitment-item .recruitment-image {
  max-width: 290px;
}

.recruitment-item .recruitment-image,
.recruitment-item .recruitment-content {
  width: 50%;
  height: 206px;
}
.recruitment-item .recruitment-image img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.recruitment-content .date {
  color: var(--grey, #555);
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 5px;
}
.recruitment-content .recruitment-heading {
  color: var(--text, #201c1c);
  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 5px;
}
.recruitment-content .num-recruitment {
  color: var(--text, #201c1c);
  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.4px;
  display: block;
  margin-bottom: 25px;
}
.recruitment-content a {
  position: relative;
  color: var(--text, #201c1c);
  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.4px;
  text-decoration: none;
  padding-bottom: 5px;
}

.recruitment-content a.more::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 80%;
  background: linear-gradient(95deg, #ba171d 6.84%, #c51a1d 93.16%);
  transition: width 0.3s ease, background-position 0.3s ease;
}
.recruitment-content a:hover::after {
  width: 110%;
}

.recruitment-content a:hover {
  color: #a94442;
  border-color: #a94442;
}

/*Service section*/
.service-section {
  padding: 63px 0 160px 0;
}
.service-container {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.service-item {
  display: flex;
  gap: 35px;
}
.service-image {
  width: 35%;
  height: 100%;
  min-height: 270px;
  aspect-ratio: 495/312;
  border-radius: 8px;
}
.service-image img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}
.service-content {
  width: 65%;
}
.service-content a {
  position: relative;
  color: var(--text, #201c1c);
  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.4px;
  text-decoration: none;
  padding-bottom: 5px;
}
.service-content .date {
  color: var(--grey, #555);
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 5px;
}
.service-content .service-heading {
  color: var(--text, #201c1c);
  font-family: "Open Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 15px;
}

.service-content .service-desc {
  color: var(--text, #201c1c);
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.36px;
  display: block;
  margin-bottom: 35px;
}

.service-content a.more::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 80%;
  background: linear-gradient(95deg, #ba171d 6.84%, #c51a1d 93.16%);
  transition: width 0.3s ease, background-position 0.3s ease;
}
.service-content a:hover::after {
  width: 110%;
}

.service-content a:hover {
  color: #a94442;
  border-color: #a94442;
}

/*Event section*/
.event-section {
  padding: 79px 0 130px 0;
}
.event-container {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.event-container .event-item {
  width: calc(50% - 32px);

  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.event-item .event-image {
  max-width: 300px;
}

.event-item .event-image,
.event-item .event-content {
  width: 50%;
  height: 206px;
}
.event-item .event-image img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.event-content .date {
  color: var(--grey, #555);
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 5px;
}
.event-content .event-heading {
  color: var(--text, #201c1c);
  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.event-content .event-heading p {
  margin-bottom: 35px;
}

.event-content a {
  position: relative;
  color: var(--text, #201c1c);
  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.4px;
  text-decoration: none;
  padding-bottom: 5px;
}

.event-content a.more::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 80%;
  background: linear-gradient(95deg, #ba171d 6.84%, #c51a1d 93.16%);
  transition: width 0.3s ease, background-position 0.3s ease;
}
.event-content a:hover::after {
  width: 110%;
}

.event-content a:hover {
  color: #a94442;
  border-color: #a94442;
}

/*Pagination*/
.pagination {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 172px;
}
.mc-pagination .screen-reader-text {
  display: none;
}
.screen-reader-text {
  border: 0;
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}
.mc-pagination .nav-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.pagination .page-numbers {
  display: flex;
  min-width: 40px;
  height: 40px;
  padding: var(--Spacing-s, 6px);
  justify-content: center;
  align-items: center;
  border-radius: var(--Radius-s, 4px);
  margin: 0 4px;
  margin-bottom: 10px;
}
.pagination .page-numbers:not(.prev):not(.next):not(span):hover,
.pagination .page-numbers.current {
  background: var(--red, #b61f22);
  color: #fff;
}

.pagination .page-numbers.prev,
.pagination .page-numbers.next {
  position: relative;
  padding-left: 16px;
  padding-right: 16px;
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  transition: color 0.3s ease;
}

.pagination .page-numbers.prev::before {
  content: "";
  position: absolute;
  inset: 0;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background-image: url("../icons/arrow-left.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: transform 0.3s ease;
}

.pagination .page-numbers.next::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%) rotate(180deg);
  width: 16px;
  height: 16px;
  background-image: url("../icons/arrow-left.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: transform 0.3s ease;
}

.pagination .page-numbers.prev:hover,
.pagination .page-numbers.next:hover {
  color: #b61f22;
}
.pagination .page-numbers.next:hover::after,
.pagination .page-numbers.prev:hover::before {
  background-image: url("../icons/arrow-left-red.svg");
}

/*Detail event post*/
.detail-event-section {
  padding: 55px 0 116px 0;
}
.detail-event-container {
  max-width: 1400px;
  margin: 0 auto;
  text-align: justify;
  display: flex;
  gap: 32px;
}
.detail-event-container .dots {
  width: 10px;
  height: 10px;
  margin: 0 19px;
}
.detail-event-container h1,
.detail-event-container h2,
.detail-event-container h3,
.detail-event-container h4,
.detail-event-container h5,
.detail-event-container h6 {
  color: var(--text, #201c1c);
  font-family: "Open Sans";
  font-style: normal;
  margin-bottom: 28px;
}

.detail-event-container h1 {
  font-size: 64px;
  font-weight: 600;
  line-height: 120%;
}

.detail-event-container h2 {
  font-size: 48px;
  font-weight: 600;
  line-height: 125%;
}

.detail-event-container h3 {
  font-size: 36px;
  font-weight: 500;
  line-height: 130%;
}

.detail-event-container h4 {
  font-size: 28px;
  font-weight: 500;
  line-height: 130%;
}

.detail-event-container h5 {
  font-size: 20px;
  font-weight: 400;
  line-height: 135%;
}

.detail-event-container h6 {
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}

.detail-event-container p,
.detail-event-container ul,
.detail-event-container ol {
  color: var(--grey, #555);
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.detail-event-container p {
  margin-bottom: 7px;
}

.detail-event-container ul {
  padding-left: 30px;
  list-style: disc;
}
.detail-event-container ol {
  padding-left: 16px;
}

.detail-event-container img {
  margin: 28px 0;
  border-radius: 20px;
  align-self: stretch;
}
.event-post .socials {
  display: flex;
  align-items: center;
  gap: 19px;
}
.event-post .socials img {
  width: 32px;
  height: 32px;
}
.event-post .socials a:hover {
  opacity: 0.7;
}

.detail-event-container .event-post {
  flex: 0 0 65%;
  width: calc(65% - 32px);
}
.detail-event-container .related-posts {
  overflow: hidden;
}

.detail-event-container .related-posts h2 {
  color: var(--text, #201c1c);
  font-family: Lora;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px; /* 183.333% */
  text-transform: uppercase;
  padding-bottom: 11px;
  border-bottom: 1px solid #201c1c;
}
.related-posts-container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.related-posts-container .related-posts-item {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
.related-posts-item .related-posts-image {
  max-width: 224px;
}
.related-posts-item .related-posts-image,
.related-posts-item .related-posts-content {
  width: 50%;
  height: 145px;
}

.related-posts-item .related-posts-image img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
  margin: 0;
}

.related-posts-content .date {
  color: var(--grey, #555);
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.related-posts-content .related-posts-heading p {
  color: var(--text, #201c1c);
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 15px;
}

.related-posts-content a {
  position: relative;
  color: var(--text, #201c1c);
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.4px;
  text-decoration: none;
  padding-bottom: 5px;
}

.related-posts-content a.more::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 80%;
  background: linear-gradient(95deg, #ba171d 6.84%, #c51a1d 93.16%);
  transition: width 0.3s ease, background-position 0.3s ease;
}
.related-posts-content a:hover::after {
  width: 110%;
}

.related-posts-content a:hover,
.related-posts-content a:hover p {
  color: #a94442;
  border-color: #a94442;
}
