@media (max-width: 1920px) {
  .technology-section .tech-container {
    max-width: 1670px;
    margin: 0;
    margin-left: auto;
  }
  .technology-section .tech-description {
    flex: 0 0 30%;
    max-width: calc(30% - 27px);
    padding: 0 16px;
  }
  .technology-section .tech-slider-container {
    flex: 0 0 70%;
    max-width: calc(70% - 27px);
    position: relative;
  }
}
@media (max-width: 1670px) {
  .comments-section .comment-box {
    flex: 0 0 40%;
    max-width: 40%;
    padding-right: unset;
  }
  .comments-section .comment-box .user-comment {
    max-width: 402px;
  }
}
@media (max-width: 1550px) {
  .stats-container {
    padding: 0 16px;
  }
  .technology-section .tech-stats strong,
  .stats-container .stats-item strong {
    font-size: 32px;
    margin-bottom: 6px;
  }
  .technology-section .tech-stats span,
  .stats-container .stats-item span {
    font-size: 18px;
  }
  .news-section,
  .comments-section,
  .products-section,
  .contact-section,
  .recruitment-section,
  .service-section,
  .event-section,
  .detail-event-section {
    padding: 60px 16px;
  }
  .technology-section {
    padding: 60px 0;
  }
  .technology-section .tech-description p {
    font-size: 16px;
  }
  .technology-section .tech-stats {
    margin-top: 49px;
  }
  .contact-form-section .form-overlay,
  .color-trends-section .section-title,
  .welcome-section .content-overlay .content-container {
    padding: 0 16px;
  }
  .color-box {
    font-size: 16px;
  }
  .header-search-box.active .input-search {
    width: 100px;
  }
  .menu-main-menu-container {
    margin: 0 20px;
  }
  .footer-container {
    padding: 0 16px;
  }
  .heading-overlay .heading-container {
    padding: 0 16px;
  }
  .store-list-container {
    padding: 16px;
  }
  .products-section .swiper-container {
    width: 90%;
    margin-top: 45px;
  }
  .welcome-section .hero-desc {
    font-size: 16px;
  }
}
@media (max-width: 1400px) {
  .store-container {
    width: 100%;
  }
}
@media (max-width: 1366px) {
  .hotline-image {
    display: block;
  }
  .hotline-text {
    display: none;
  }
  .contact-container .contact-image {
    flex: 0 0 50%;
    width: 50%;
  }

  .contact-container .contact-form-container {
    flex: 0 0 40%;
    width: calc(40% - 200px);
  }
}
@media (max-width: 1200px) {
  .detail-event-container .event-post {
    width: 100%;
  }
  .detail-event-container {
    flex-direction: column;
  }
  .related-posts-container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .related-posts-container .related-posts-item {
    width: calc(50% - 20px);
  }
  .footer-bottom .bottom {
    display: flex;
  }
  .footer-bottom .top {
    justify-content: center;
    align-items: center;
    gap: 100px;
  }
  .footer-bottom .top .copyright {
    display: none;
  }
  .technology-section .tech-description {
    flex: 0 0 40%;
    max-width: calc(40% - 27px);
  }
  .technology-section .tech-slider-container {
    flex: 0 0 60%;
    max-width: calc(60% - 27px);
  }
  .color-trends-section .color-row {
    margin-top: 50px;
  }
  .products-section .tab-buttons {
    margin-bottom: 0;
  }
  .comments-section .image-box {
    flex: 0 0 50%;
    max-width: 50%;
    height: 450px;
  }
  .comments-section .comment-box {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .technology-section .tech-container {
    gap: 55px;
  }
  .comments-section .image-box .circle-text,
  .tech-slider-container .circle-text {
    width: 100px;
    height: 100px;
  }
  .news-section .news-container {
    flex-direction: column;
  }
  .news-section .main-article,
  .news-section .article-list {
    width: 100%;
  }
  .gallery-section h2,
  .news-section .section-title,
  .comments-section .comment-box h2,
  .products-section .tab-buttons button,
  .color-trends-section .section-title,
  .welcome-section .hero-title,
  .technology-section .tech-description h2,
  .contact-form-container .contact-heading,
  .contact-form-container .contact-form h2 {
    margin-bottom: 40px;
    font-size: 28px;
  }
  .contact-form-container .contact-heading,
  .technology-section .tech-description h2,
  .contact-form-container .contact-form h2 {
    margin-bottom: 20px;
  }
  .color-trends-section .section-title {
    margin-bottom: 0;
  }
  .welcome-section .hero-title {
    margin-bottom: 15px;
  }
  .news-section .main-article .title {
    font-size: 24px;
  }

  .news-section .main-article .date,
  .news-section .main-article .desc,
  .news-section .article-item .date,
  .news-section .article-item a,
  .comments-section .comment-box .user-comment,
  .products-section .tab-description,
  .contact-form-container p,
  .recruitment-content .date,
  .recruitment-content .num-recruitment,
  .recruitment-content a,
  .service-content .date,
  .service-content .service-desc,
  .service-content a,
  .event-content .date,
  .event-content .more {
    font-size: 16px;
  }
  .contact-form-container .contact-form button {
    margin-top: 17px;

    font-size: 16px;
  }
  .comments-section .comment-box .user-comment {
    margin-bottom: 20px;
  }
  .comments-section .comment-box .author h4 {
    font-size: 18px;
    margin-bottom: 4px;
  }
  .comments-section .comment-box .author {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    margin-bottom: 65px;
  }
  .comments-section .comment-box .author p {
    font-size: 14px;
  }
  .gallery-section {
    padding: 80px 0;
  }
  .store-section {
    padding: 90px 0;
  }
  .map-container img {
    width: 100%;
    object-fit: cover;
  }
  .store-list-container {
    padding: 40px 16px;
  }
  .store-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .store-item {
    width: calc(50% - 10px);
  }
  .store-container {
    flex-direction: column-reverse;
    overflow: auto;
  }
  .store-list-container,
  .map-container {
    flex: 1;
    width: 100%;
    height: 50%;
  }
  .footer-bottom,
  .flex-reverse {
    flex-direction: column;
    gap: 13px;
    width: 100%;
  }
  .heading-overlay {
    bottom: 50px;
  }
  .mobile-header {
    display: flex;
    width: 100%;
    padding: 10px 16px;
  }
  .side-popup-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 99;
    height: 100vh;
    overflow-y: auto;
  }
  .side-popup-overlay.force-hidden {
    opacity: 0 !important;
    visibility: hidden !important;
    pointer-events: none !important;
  }
  .side-popup-overlay.active {
    opacity: 1;
    visibility: visible;
  }
  .arrow-icon {
    position: absolute;
    right: 0;
  }
  .burger-menu {
    display: block;
  }
  .header-container {
    width: 100%;
    margin: 0 15px;
  }
  .side-popup-overlay.active .close-popup {
    display: block;
  }
  .side-popup-overlay .close-popup {
    position: absolute;
    top: 24px;
    left: 24px;
    background: none;
    border: none;
    font-size: 24px;
    font-weight: bold;
    color: white;
    font-weight: 700;
    cursor: pointer;
    z-index: 1000;
  }
  .side-popup-overlay .header-container {
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    position: absolute;
    margin: 0;
    top: 0;
    right: 0;
    width: 80vw;
    max-width: 400px;
    height: 100%;
    background: #fff;
    padding: 20px 16px;
    overflow-y: auto;
    border-radius: 12px 0 0 12px;
    animation: slideIn 0.3s ease;
    transition: transform 0.3s ease;
  }
  .side-popup-overlay .header-container ul {
    flex-direction: column;
    width: 100%;
  }
  li.menu-item-has-children {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .menu-main-menu-container {
    width: 100%;
    margin: 0;
  }
  .menu-main-menu-container ul li:hover a,
  .menu-main-menu-container ul li.active a,
  .menu-main-menu-container .menu-item-has-children > .sub-menu li:hover > a,
  .menu-main-menu-container .menu-item-has-children > .sub-menu li.active > a,
  .menu-main-menu-container .menu-item-has-children.open a {
    color: #c51a1d;
  }
  .header-container a,
  .menu-main-menu-container .menu-item-has-children > .sub-menu li a {
    color: rgba(0, 0, 0, 0.5);
  }
  .hotline-text {
    display: block;
  }
  .hotline-text {
    color: white !important;
  }
  .hotline-image {
    display: none;
  }
  .menu-item-has-children > .arrow-icon,
  .menu-main-menu-container
    .sub-menu
    .menu-item-has-children:hover
    > .arrow-icon {
    background-image: url("../icons/arrow-down-normal.svg");
  }
  .menu-main-menu-container .menu-item-has-children:hover > .sub-menu,
  .menu-main-menu-container
    .sub-menu
    .menu-item-has-children:hover
    > .sub-menu {
    display: none;
    padding-top: 0;
    padding-bottom: 0;
  }
  .menu-item-has-children.open > .arrow-icon,
  .menu-item-has-children:hover > .arrow-icon {
    background-image: url("../icons/arrow-down-red.svg");
  }
  .menu-main-menu-container .menu-item-has-children > .sub-menu,
  .menu-main-menu-container .sub-menu .menu-item-has-children > .sub-menu {
    position: relative;
    background: none;
    padding-top: 0;
    padding-bottom: 0;
  }
  .menu-main-menu-container .sub-menu .menu-item-has-children > .sub-menu {
    left: 0;
  }
  .menu-main-menu-container .sub-menu .menu-item-has-children > .arrow-icon {
    transform: rotate(0deg);
  }
  .menu-main-menu-container
    .sub-menu
    .menu-item-has-children:hover
    > .arrow-icon {
    background-image: url("../icons/arrow-down-red.svg");
    transform: rotate(-180deg);
  }
}
@media (max-width: 1024px) {
  .service-content .service-heading {
    font-size: 20px;
  }
  .recruitment-container .recruitment-item {
    width: 100%;
    gap: 20px;
  }
  .contact-container {
    flex-direction: column;
    max-width: 700px;
  }
  .contact-container .contact-image,
  .contact-container .contact-form-container {
    flex: 1;
    width: 100%;
  }

  .technology-section .tech-description,
  .technology-section .tech-slider-container {
    flex: 0 0 50%;
    max-width: calc(50% - 27px);
  }

  .welcome-section .content-overlay {
    position: absolute;
    bottom: 100px;
    width: 100%;
    color: white;
    z-index: 2;
  }
  .welcome-section .scroll-button {
    bottom: 20px;
  }
  .welcome-section .hero-desc {
    max-width: unset;
  }
  .comments-section .comment-box img {
    width: 50px;
    height: 50px;
  }
  .color-box {
    flex: 0 0 20%;
  }
  .comments-section .image-box {
    flex: 0 0 40%;
    max-width: 40%;
    height: 450px;
  }
  .comments-section .comment-box {
    flex: 0 0 60%;
    max-width: 60%;
  }
  .comments-section .image-box .circle-text {
    width: 100px;
    height: 100px;
  }
  .comments-section .image-box img {
    width: 120%;
    position: relative;
    left: -20%;
  }
  .comments-section .image-box .circle-text img {
    width: 100%;
    left: 0;
  }
  .footer-bottom .top {
    flex-direction: column;
    gap: 13px;
  }
  .footer-content {
    gap: 24px;
  }
  .footer-col {
    flex: 0 0 50%;
    width: 50%;
  }
  .gallery-section .gallery-swiper img {
    height: 644px;
    aspect-ratio: unset;
  }
  .heading-section {
    height: 400px;
  }
  .heading-section img {
    height: 400px;
    aspect-ratio: unset;
  }
  .event-container {
    flex-direction: column;
  }
  .event-container .event-item {
    width: 100%;
  }
  .pagination {
    margin-top: 50px;
  }
}
@media (max-width: 876px) {
  .service-content .service-heading,
  .event-content .event-heading {
    font-size: 18px;
  }
  .related-posts-container {
    flex-direction: column;
  }
  .related-posts-container .related-posts-item {
    width: 100%;
  }
  .detail-event-container p,
  .detail-event-container ul,
  .detail-event-container ol {
    font-size: 16px;
  }
  .detail-event-container h1,
  .detail-event-container h2,
  .detail-event-container h3,
  .detail-event-container h4,
  .detail-event-container h5,
  .detail-event-container h6 {
    margin-bottom: 14px;
  }

  .detail-event-container h1 {
    font-size: 48px;
  }

  .detail-event-container h2 {
    font-size: 36px;
  }

  .detail-event-container h3 {
    font-size: 28px;
  }

  .detail-event-container h4 {
    font-size: 20px;
  }

  .detail-event-container h5 {
    font-size: 16px;
  }

  .detail-event-container h6 {
    font-size: 14px;
  }
  .detail-event-container img {
    margin: 14px 0;
  }
  .service-image {
    width: 100%;
    height: 40%;
    min-height: unset;
  }
  .service-content {
    width: 100%;
    height: 100%;
    padding: 16px;
  }
  .service-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .service-item {
    flex-direction: column;
    max-width: 700px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    gap: 15px;
  }
  .service-item:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  .recruitment-item .recruitment-image {
    width: 190px;
    height: 156px;
    border-radius: 8px;
  }
  .stats-container .stats-item {
    flex: 0 0 calc(50% - 10px);
  }
  .technology-section .tech-stats span,
  .stats-container .stats-item span {
    font-size: 16px;
  }
  .technology-section .tech-stats strong,
  .stats-container .stats-item strong {
    font-size: 28px;
  }
  .technology-section .tech-description {
    flex: 1;
    max-width: 100%;
  }
  .technology-section .tech-slider-container {
    display: none;
  }
  .color-container {
    display: flex;
    align-items: center;
    width: calc(100% - 16px);
    overflow: auto;
    margin-left: 16px;
  }
  .color-trends-section .color-row {
    margin-top: 37px;
    flex-wrap: nowrap;
  }
  .color-box {
    width: 161px;
    height: 161px;
  }
  .store-section {
    padding: 30px 0;
  }
  .store-list {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .store-item {
    width: 100%;
  }
  .store-list-container h2 {
    margin-bottom: 24px;
  }
  .gallery-section,
  .stats-section {
    padding: 60px 0;
  }
  .stats-section {
    padding-top: 0;
  }
  .technology-section .tech-description p {
    max-height: unset;
  }
}
@media (max-width: 768px) {
  .comments-section .comment-box .author {
    margin-bottom: 20px;
  }
  .comments-section .nav-buttons {
    justify-content: center;
  }
  .comments-section .comment-slider {
    max-width: 402px;
  }
  .comments-section .image-box {
    display: none;
  }
  .comments-section .comment-box {
    flex: 1;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .comments-section .comment-box .comment-slider {
    width: fit-content;
  }
  .comments-section .image-box .circle-text,
  .tech-slider-container .circle-text {
    width: 100px;
    height: 100px;
  }
  .comments-section .image-box img {
    width: 120%;
    position: relative;
    left: -20%;
  }
  .comments-section .image-box .circle-text img,
  .tech-slider-container .circle-text img {
    width: 100%;
    left: 0;
  }
  .footer-bottom .top,
  .footer-bottom .bottom {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .gallery-section .swiper-container {
    width: 100%;
    position: relative;
    padding: 0 16px;
  }
  .gallery-section .swiper-pagination-prev {
    margin-left: 0px;
  }
  .gallery-section .swiper-pagination-next {
    margin-right: 0px;
  }
  .contact-form-section .form-container {
    width: 100%;
    height: 100%;
    padding: 26px 12px;
  }
  .contact-form-section .form-container h2 {
    color: #141414;
    text-align: center;
    font-family: Lora;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    text-transform: uppercase;
  }
  .contact-form-section .form-container p {
    margin-top: 12px;
    margin-bottom: 13px;
  }
  .contact-form-section .form-container input {
    color: #656565;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .contact-form-section .form-container button {
    color: #f8f8f8;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 0;
  }
  .footer-content {
    margin-bottom: 42px;
    flex-direction: column;
  }
  .footer-col {
    flex: 1;
    width: 100%;
  }
  .footer-col .divide p,
  .footer a {
    color: #fff;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 18.2px */
  }
  .footer-bottom .socials span,
  .footer-bottom .hotline {
    color: #fff;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.32px;
    text-transform: uppercase;
  }
  .footer-bottom {
    margin-top: 52px;
  }
  .footer {
    padding: 21px 0 42px 0px;
  }
  .footer-bottom,
  .flex-reverse {
    align-items: flex-start;
  }
  .heading-navigate {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 12px;
  }
  .heading-navigate span {
    font-size: 14px;
    line-height: 18px;
  }
  .page-heading {
    font-size: 24px;
    line-height: 32px;
    text-transform: uppercase;
  }
  .news-section .main-article img {
    margin-bottom: 15px;
  }
}
@media (max-width: 576px) {
  .event-item .event-image {
    max-width: unset;
    height: 50%;
  }

  .pagination .page-numbers.prev,
  .pagination .page-numbers.next {
    position: relative;
    text-indent: -9999px;
    overflow: hidden;
    white-space: nowrap;
    width: 40px;
    height: 40px;
    display: inline-block;
  }
  .event-container .event-item {
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    gap: 0;
  }
  .event-container .event-item:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  .event-item .event-image,
  .event-item .event-content {
    width: 100%;
  }
  .event-item .event-content {
    padding: 16px;
  }
  .recruitment-container .recruitment-item {
    width: 100%;
    gap: 10px;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  .recruitment-container .recruitment-item .recruitment-content {
    padding: 16px;
  }
  .recruitment-container .recruitment-item:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  .recruitment-item .recruitment-image,
  .recruitment-item .recruitment-content {
    width: 100%;
    height: 50%;
    max-width: unset;
  }
  .recruitment-content .recruitment-heading {
    font-size: 16px;
  }
  .recruitment-content .num-recruitment {
    margin-bottom: 15px;
  }
  .technology-section .tech-stats strong,
  .stats-container .stats-item strong {
    font-size: 24px;
  }
  .technology-section .tech-stats {
    margin-top: 20px;
  }
  .comments-section .comment-slider,
  .comments-section .comment-box .user-comment {
    max-width: 100%;
    width: 100%;
  }
  .heading-section {
    height: 200px;
  }
  .heading-section img {
    height: 200px;
  }
  .gallery-section h2,
  .news-section .section-title,
  .comments-section .comment-box h2,
  .products-section .tab-buttons button,
  .color-trends-section .section-title,
  .welcome-section .hero-title,
  .technology-section .tech-description h2,
  .contact-form-container .contact-heading,
  .contact-form-container .contact-form h2 {
    font-size: 24px;
  }

  header {
    top: 16px;
  }
  .header-container {
    padding: 10px 16px;
    margin: 0;
  }
  .header-logo img {
    width: 28px;
    height: 28px;
  }
  .burger-menu img {
    width: 24px;
    height: 24px;
  }

  .heading-navigate {
    font-size: 10px;
    line-height: 14px;
    margin-bottom: 12px;
  }
  .heading-navigate span {
    font-size: 10px;
    line-height: 14px;
  }
  .page-heading {
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
  }
  .footer .socials > div,
  .hotline strong {
    white-space: nowrap;
  }
  .news-section .article-item .title {
    margin-bottom: 5px;
  }
  .article-img {
    width: 50%;
  }
  .news-section .article-item img {
    width: 100%;
    height: 100%;
    min-height: 141px;
    object-fit: cover;
    border-radius: 4px;
  }
  .news-section .article-item .title {
    font-size: 16px;
  }
  .news-section .article-item {
    gap: 10px;
  }
  .products-section .tab-buttons button {
    font-size: 16px;
    margin-bottom: 0;
  }
  .products-section .tab-buttons {
    gap: 20px;
  }
  .products-section .swiper-pagination-prev {
    left: -30px;
  }
  .products-section .swiper-pagination-next {
    left: 30px;
  }
}
@media (max-width: 375px) {
  .pagination .page-numbers,
  .pagination .page-numbers.prev,
  .pagination .page-numbers.next {
    min-width: 30px;
    height: 30px;
  }

  .technology-section .tech-stats div,
  .stats-container .stats-item {
    flex: 0 0 calc(100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .news-section .article-item {
    gap: 5px;
  }
  .gallery-section .gallery-swiper img {
    height: 375px;
    min-height: unset;
    aspect-ratio: unset;
  }
  .store-directions-link {
    position: static;
    margin-top: 8px;
    display: block;
    text-align: right;
  }
}
